In [3]:
#함수와 메서드 차이 알아보기
import pandas as pd
pd.read_csv('exam.csv')
pd.DataFrame({'x' : [1, 2, 3]})

   x
0  1
1  2
2  3

In [5]:
#df 데이터 불러오기
df = pd.read_csv('exam.csv')
#앞에서부터 5행까지 츨력
df.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

In [9]:
#var list 만들기
var = [1, 2, 3]

In [11]:
#type()을 이용
type(df)

pandas.core.frame.DataFrame

In [13]:
#type()을 이용
type(var)

list